# Python bytecode and compiled files
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv/
venv/
env/
ENV/
pip-wheel-metadata/

# Package/build artifacts
*.egg
*.egg-info/
dist/
build/

# Pytest cache
.pytest_cache/